@use "../abstracts" as *;

.hamburgerToggle {
    --_bar-width: var(--bar-width, #{$hamburger-bar-width});
    --_bar-height: var(--bar-height, #{$hamburger-bar-height});

    --_hamburger-gap: var(--hamburger-gap, #{$hamburger-gap});
    --_hamburger-height: calc((var(--_bar-height) * 3) + (var(--_hamburger-gap) * 2));
    --_hamburger-padding: var(--hamburger-padding, #{$hamburger-padding});

    --_foreground: var(--foreground, #{$hamburger-foreground});
    --_background: var(--background, #{$hamburger-background});

    --_animation-timing: var(--animation-timing, #{$hamburger-animation-timing});

    --_x-width: calc(var(--_hamburger-height) * 1.41421356237);

    appearance: none;
    display: flex;
    flex-direction: column;
    gap: var(--_hamburger-gap);
    width: max-content;
    cursor: pointer;
    border: 0;
    order: 2;
    outline: 0;
    padding: var(--_hamburger-padding);
}



.hamburgerToggle::before,
.hamburgerToggle::after,
.hamburgerToggle input {
    content: '';
    width: var(--_bar-width);
    height: var(--_bar-height);
    background-color: var(--_background);
    transform-origin: left center;
    border-radius: 9999px;
    transition: opacity var(--_animation-timing), width var(--_animation-timing), rotate var(--_animation-timing), translate var(--_animation-timing);
}

.hamburgerToggle input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: 0;
}



.hamburgerToggle.open {
    &::before {
        rotate: 45deg;
        width: var(--_x-width);
        translate: 0 calc(var(--_bar-height) / -2);
    }

    input {
        opacity: 0;
        width: 0;
    }

    &::after {
        rotate: -45deg;
        width: var(--_x-width);
        translate: 0 calc(var(--_bar-height) / 2);
    }
}

.hamburgerToggle:has(input:focus-visible)::before,
.hamburgerToggle:has(input:focus-visible)::after,
.hamburgerToggle input:focus-visible {
    border: 1px solid var(--_background);
    box-shadow: 0 0 0 1px var(--_foreground);
}

@include mq(md) {
    .hamburgerToggle {
        display: none;
    }
}