@use "../abstracts" as *;


//
//
//
.site-header__logo {
    color: var(--neutral-900);
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: .0375rem;
    flex: 1;
    text-decoration: none;
}


//
//
//
.site-nav {
    position: relative;
    display: none;
    width: 100%;
    order: 3;

    &__list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__item {
        position: relative;
        width: 100%;
        text-align: center;
    }

    &__link {
        color: var(--neutral-400);
        display: block;
        padding: var(--size-xs) var(--size-s);
        text-decoration: none;

        &:is(:hover, :focus) {
            color: var(--neutral-600);
        }

        &[aria-current="page"] {
            color: var(--neutral-900);
        }
    }
}


.site-nav.open {
    display: block;
}



//
//
//

@include mq(md) {
    .site-nav {
        display: flex;

        &,
        &__item {
            width: auto;
        }

        &__item {
            text-align: start;
        }
    }
}