<header class="site-header">
    <div class="site-header__inner">
        <a href="/" class="site-header__logo">
        {{ if site.logo }}
            <img src="{{ site.logo }}" inline />
        {{ else }}
            {{ site.name }}
        {{ /if }}
        </a>
        {{ include "partials/site-nav.vto" }}
        <lable id="hamburgerMenu" class="hamburgerToggle">
            <input type="checkbox">
        </lable>
    </div>
</header>