<nav class="site-nav">
    <ul class="site-nav__list">
        {{ for entry of search.pages("menu.visible=true", "menu.order") }}
        <li class="site-nav__item">
            <a href="{{ entry.url |> url }}" class="site-nav__link" {{ if entry.url === url }} aria-current="page"{{ /if }}>{{ entry.menu.title }}</a>
        </li>
        {{ /for }}
    </ul>
</nav>