@use "abstracts" as *;

@forward "base";
@forward "compositions";
@forward "utilities";
@forward "blocks";

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

h1, h2, h3 {
    line-height: 1.1;
    max-width: 20ch;
    letter-spacing: -0.05ch;
}

h1, .h1 {
    font-size: var(--fs-800);
}

h2, .h2 {
    font-size: var(--fs-700);
}

h3, .h3 {
    font-size: var(--fs-600);
}

input,
select,
textarea {
    background: var(--background-alt-color);
    color: inherit;
    width: 100%;
    padding: var(--space-xs);
    border: 1px solid var(--neutral-200);
    border-radius: var(--radius-s);

    &:focus {
        outline: 2px solid;
        outline-offset: 0ch;
        outline-color: var(--accent-500);
    }
}


// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

.text-center {
    text-align: center;
}

.ai-center {
    align-items: center;
}


.linear-text-gradient {
    background: linear-gradient(to bottom right, #ff844f, #ff7b4e, #ff674e, #ff4e56, #f24b53);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


.content-wrapper {
    & > img {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        grid-column: popout;
    }
}



// -----------------------------------------------------------------------------
// BLOCKS
// -----------------------------------------------------------------------------

.brand {
    --_brand-logo-width: var(--logo-width);
    display: flex;
    align-items: center;
    gap: var(--space-2xs);


    &__logo {
        width: 32px;
        height: auto;
    }

    &__name {
        color: var(--neutral-950);
        font-size: var(--fs-200);
        font-weight: var(--fw-bold);
        text-transform: uppercase;
    }
}



.block {
    &__intro {
        font-size: var(--fs-200);
        font-weight: var(--fw-semibold);
        letter-spacing: .03ch;
        text-transform: uppercase;
    }

    &__title {
        font-family: var(--ff-serif);
        font-weight: var(--fw-bold);
        margin-top: 0;
        background: linear-gradient(to bottom right, #ff844f, #ff7b4e, #ff674e, #ff4e56, #f24b53);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}



.hero {
    position: relative;

    &__image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: clip;
        border-radius: var(--radius-xl);

        img {
            aspect-ratio: var(--ratio-square);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        span {
            position: absolute;

            .button {
                --button-foreground: white;
                --button-background: black;
                --button-background-hover: #121212;
                --button-padding: var(--space-m);

                border-radius: var(--radius-full);
                opacity: .9;
            }
        }
    }
}



.spotify {
    --page-layout-narrow-max-width: 840px;
    background: var(--background-alt-color);
    text-align: center;
}



.about {}


.album,
.gallery {
    background: var(--background-alt-color);

    &__image {
        position: relative;
        overflow: clip;
        border-radius: var(--radius-l);

        img {
            object-fit: cover;
            width: 100%;
            height: auto;
            transition: scale 300ms ease-in;
        }

        &:hover img {
            scale: 1.1;
        }
    }
}



.album-card {
    position: relative;
    border-radius: var(--radius-m);
    overflow: clip;

    a img {
        aspect-ratio: 3/2;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        transition: scale 300ms var(--ease-in-out-cubic);
    }

    a:hover img {
        scale: 1.1;
    }

    span {
        background: linear-gradient(to bottom, rgba(0,0,0,0.2), #000);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: var(--space-s) var(--space-m);
    }
}