{{ define "main" }}
  <section class="[ album ] [ full-width ] [ flow region ]">
    <h1 class="block__title">{{ .Title }}</h1>
    <p>{{ .Params.description }}</p>

    <div class="album__list grid" data-rows="masonry">
        {{ $images := .Resources.ByType "image" }}
        {{ range $images }}
          <div class="album__image">
            {{ $thumbnail := .Resize "600x" }} <!-- Creates a 300x200 px thumbnail -->
            <a href="{{ .RelPermalink }}" data-lightbox="gallery">
              <img src="{{ $thumbnail.RelPermalink }}" alt="{{ .Name }}">
            </a>
          </div>
        {{ end }}
    </div>
  </section>
{{ end }}
