@use "../abstracts" as *;


//
//
//
.full-width-split-screen {
    --_padding-inline: var(--padding-inline, #{$wrap-padding});
    --_max-width: var(--max-width, #{$wrap-width});
    --_content-padding: var(--content-padding, clamp(1rem, 5vw, 3rem));
    --_content-region-space: var(--content-region-space, 6.6vmax);

    position: relative;
    padding-block: 0;

    @include mq(md) {
        display: grid;
        grid-template-columns: 
            minmax(var(--_padding-inline), 1fr)
            minmax(0, calc(var(--_max-width) / 2 ))
            minmax(0, calc(var(--_max-width) / 2 ))
            minmax(var(--_padding-inline), 1fr);

    }
}


//
// IMAGE
//
.full-width-split-screen > img,
.full-width-split-screen > iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;

    &:first-child {
        grid-column: 1 / 3;
    }

    &:last-child {
        grid-column: 3 / -1;
    }
}



//
// CONTENT
//
.full-width-split-screen > :not(img, iframe) {
    display: grid;
    align-content: center;
    justify-items: start;
    padding-block: var(--_content-region-space);
    padding-inline: var(--_padding-inline);

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: inherit;
        z-index: -1;
    }

    // First child
    &:first-child {
        grid-column: 2/3;

        &::before {
            grid-column: 1/2;
            
            @include mq(md) {
                padding-left: 0;
                padding-right: var(--_content-padding);
            }
        }
    }

    // last child
    &:last-child {
        grid-column: 3/4;

        &::before {
            grid-column: 4/-1;

            @include mq(md) {
                padding-right: 0;
                padding-left: var(--_content-padding);
            }
        }
    }
}