@use "../abstracts" as *;

.grid-auto-fit {
    --_placement: var(--placement, auto-fit);
    --_min-col-size: var(--min-col-size, 16rem);
    --_gap: var(--gap, 1rem);

    display: grid;
    grid-template-columns: repeat(var(--_placement), minmax(var(--_min-col-size), 1fr));
    gap: var(--_gap);
}


.grid-auto-fit {
    &[data-cols="halfs"] {
        --placement: auto-fit;
        --min-col-size: clamp(16rem, 50%, 26rem);
    }

    &[data-cols="thirds"] {
        --placement: auto-fit;
        --min-col-size: clamp(16rem, 33vw, 23rem);
    }

    &[data-rows="masonry"] {
        grid-template-rows: masonry;
        align-items: start;
    }
}